/* Appliquer un style de base à tout le corps de la page */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #595396, #151520); /* Appliquer un dégradé linéaire comme arrière-plan */
}

/* Appliquer un style au conteneur principal */
.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(to bottom, #35305c, #3a3664, #151520); /* Appliquer un dégradé linéaire comme arrière-plan */
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000; /* Appliquer une ombre au conteneur */
}

/* Cacher la case à cocher */
#chk {
  display: none;
}

/* Appliquer un style au formulaire d'inscription */
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Appliquer un style à l'étiquette du formulaire */
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-align: center;
}

/* Appliquer un style aux champs de texte */
input {
  width: 60%;
  height: 30px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* Appliquer un style au bouton */
button {
  width: 70%;
  height: 50px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* Appliquer un style au survol du bouton */
button:hover {
  background: #6d44b8;
}

/* Appliquer un style au formulaire de connexion */
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%; /* Créer une forme de courbe pour le fond du formulaire */
  transform: translateY(-180px); /* Déplacer le formulaire vers le haut */
  transition: 0.8s ease-in-out;
}

/* Appliquer un style à l'étiquette du formulaire de connexion */
.login label {
  color: #573b8a;
  transform: scale(0.6); /* Réduire la taille de l'étiquette */
}

/* Lorsque la case à cocher est cochée, appliquer un style au formulaire de connexion */
#chk:checked ~ .login {
  transform: translateY(-500px); /* Déplacer le formulaire vers le bas */
}

/* Lorsque la case à cocher est cochée, appliquer
